<%- include('partials/header'); -%>

    <a href="/" class="login">Welcome!</a>

    <nav>
        <a id="login" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
    </nav>

    <h1 class="loginregisters">Log in</h1>

    <form action="/user" method="POST">
        <div class="userinputs">
            <p>Username</p> 
            <input class="gettingusername" type="text" name="username">
        </div>
    </form>

<%- include('partials/footer'); -%>