<%- include('partials/header'); -%>

    <a href="/" class="login">Welcome!</a>

    <nav>
        <a id="login" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
    </nav>

    <h1 class="loginregisters">You are already registered. Please log in!</h1>

<%- include('partials/footer'); -%>